@import '../../../theme';

:host {
  display: block;

  /deep/ {
    .icon {
      g,
      path {
        fill: $inline-warning-color;
      }
    }
  }
}

.warning {
  align-items: center;
  background-color: $inline-warning-background-color;
  border: 2px solid transparent;
  color: $inline-warning-color;
  display: flex;
  margin-bottom: 10px;
  padding: 8px 15px;
}

.icon {
  flex: 0 0 45px;
  height: 45px;
}

.message {
  flex: 1 1 100%;
  padding: 15px;
}
